{
  "location_name": "City Name",
  "latitude": 0.0,
  "longitude": 0.0,
  "met_office_api_key": "",
  "met_office_client_secret": "",
  "refresh_interval_sec": 300,
  "fullscreen": true,
  "rss_feeds": {
    "bbc": "http://feeds.bbci.co.uk/news/rss.xml",
    "tvp": "https://www.tvp.info/tvp.info/rss+xml.php"
  }
}
